<p>This is the partial for view 1.</p>
First Name: <input ng-model="firstName"/><br/>
Last Name: <input ng-model="lastName"/><br/>
Phone Number: <input ng-model="phoneNumber"/><br/>
Email: <input ng-model="email"/><br/>
<button ng-click="register()">Register</button><br/>
<button ng-click="retrieveCustomers()">Load Customers</button><br/>
<hr/>
Hello, {{firstName}}!

<table ng-show="customers.length &gt; 0">
    <tr>
        <th>Customer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
    </tr>
    <tr ng-repeat="cust in customers track by cust.customerId" ng-dblclick="editCustomer(cust);">
        <td>{{cust.customerId}}</td>
        <td>
            <span ng-hide="showEditing(cust)">
                {{cust.firstName}}
            </span>
            <span ng-show="showEditing(cust)">
                <input ng-model="workingCustomer.firstName" ng-keydown="keyPress(cust, $event)">
            </span>
        </td>
        <td><span ng-hide="showEditing(cust)">
                {{cust.lastName}}
            </span>
            <span ng-show="showEditing(cust)">
                <input ng-model="workingCustomer.lastName" ng-keydown="keyPress(cust, $event)">
            </span>
        </td>
        <td><span ng-hide="showEditing(cust)">
                {{cust.phoneNumber}}
            </span>
            <span ng-show="showEditing(cust)">
                <input ng-model="workingCustomer.phoneNumber" ng-keydown="keyPress(cust, $event)">
            </span>
        </td>
        <td><span ng-hide="showEditing(cust)">
                {{cust.email}}
            </span>
            <span ng-show="showEditing(cust)">
                <input ng-model="workingCustomer.email" ng-keydown="keyPress(cust, $event)">
            </span>
        </td>
        <td><button ng-click="removeCustomer(cust)">Delete</button> </td>
    </tr>
</table>